extends base.pug
block scripts  
    script(src='../static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/styleabout.css
block content 
    div#box
        h1 About me find here 
        div.box1 
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, culpa.
        div.box2 
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, culpa.
        div.box3
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, culpa.
        div.box4 
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, culpa.
        