doctype html
html
  head
    title My Site - Harry dance academy
    block scripts   
    block style    
  body
    nav#navbar
      ul#navigation
          div#logo
                img(src="https://www.kindpng.com/picc/m/229-2292704_dynamique-dance-dancer-icon-dancer-silhouette-transparent-background.png")
                h6 HDA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Contact Us]
    block content
    footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved