doctype html
html
  head
    title Harry Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul#navigation
            div#logo
                img(src="https://www.kindpng.com/picc/m/229-2292704_dynamique-dance-dancer-icon-dancer-silhouette-transparent-background.png")
                h6 HDA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
    section#introsection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#mission
        h1 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="https://th.bing.com/th/id/OIP.c6-LlkaL7eCkXGczFTNhGAHaJl?pid=ImgDet&w=175&h=225&c=7&dpr=1.5")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="https://th.bing.com/th/id/OIP.lh4NS5fRIizHNJbZH2qQYgAAAA?pid=ImgDet&w=175&h=218&c=7&dpr=1.5")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="https://th.bing.com/th/id/OIP.q_35vGkfIKpmKR0ANMQenAHaHa?pid=ImgDet&w=175&h=175&c=7&dpr=1.5")

                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsection
        h1 Our Sponsors
        div#sponsor
            img(src="https://th.bing.com/th/id/OIP.sKVLMfrlexSk9OJ7Vbt55wHaGW?rs=1&pid=ImgDetMain" ,alt="error"  , class="SPimage")
            img(src="https://th.bing.com/th/id/OIP.aPyHWMu3KHjwJUWdGrEkZQHaHa?rs=1&pid=ImgDetMain" ,alt="error "  ,class="SPimage")
            img(src="https://th.bing.com/th/id/OIP.Kws3qnBP6KOzsO00iwHOlwHaI9?rs=1&pid=ImgDetMain " ,alt="error"  , class="SPimage")
            img(src=" https://th.bing.com/th/id/OIP.WhkO1jxKajp1ZE72TUzv9AAAAA?rs=1&pid=ImgDetMain", alt="error"   ,class="SPimage")
       
    footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include ../static/style.css
</head>
<body>
    <nav id="navbar">
        <ul id="navigation">
            <div id="logo">
                <img src="https://www.kindpng.com/picc/m/229-2292704_dynamique-dance-dancer-icon-dancer-silhouette-transparent-background.png">
                <h6>HDA</h6>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Contact us</a></li>

        </ul>
    </nav>
    <section id="introsection">
        <div>Welcome to Harry's Dance Academy</div>
        <div class="small">Eat spleep dance repeat</div>
        </section>
    <section id="mission">
        <h1>Our Mission</h1>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="https://th.bing.com/th/id/OIP.c6-LlkaL7eCkXGczFTNhGAHaJl?pid=ImgDet&w=175&h=225&c=7&dpr=1.5">
                </div>
                <div class="card-content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, eum.</p></div>
            </div>
        </div>
        <div class="card">
            <h3>Dance The Way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="https://th.bing.com/th/id/OIP.lh4NS5fRIizHNJbZH2qQYgAAAA?pid=ImgDet&w=175&h=218&c=7&dpr=1.5">
                </div>
                <div class="card-content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, eum.</p></div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Technique</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="https://th.bing.com/th/id/OIP.q_35vGkfIKpmKR0ANMQenAHaHa?pid=ImgDet&w=175&h=175&c=7&dpr=1.5">
                </div>
                <div class="card-content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, eum.</p></div>
            </div>
        </div>
    </section>
    <section id="sponsorsection">
        <h1>Our Sponsors</h1>
        <div id="sponsor">
            <img src="https://th.bing.com/th/id/OIP.sKVLMfrlexSk9OJ7Vbt55wHaGW?rs=1&pid=ImgDetMain" alt="error" class="SPimage">
            <img src="https://th.bing.com/th/id/OIP.aPyHWMu3KHjwJUWdGrEkZQHaHa?rs=1&pid=ImgDetMain" alt=" "class="SPimage">
            <img src="https://th.bing.com/th/id/OIP.Kws3qnBP6KOzsO00iwHOlwHaI9?rs=1&pid=ImgDetMain " alt="error" class="SPimage">
            <img src=" https://th.bing.com/th/id/OIP.WhkO1jxKajp1ZE72TUzv9AAAAA?rs=1&pid=ImgDetMain" alt="error" class="SPimage">

        </div>
        
    </section>
    <footer id="footer">Copyright &copy; 2024 Harrydanceacademy.com|All right reserved</footer>
    script 
        include ../static/index.js
</body>
</html> -->